@font-face {
    font-family: ENR;
    src: url(fonts/PPEditorialNew-Regular.otf);
}

@font-face {
    font-family: ENL;
    src: url(fonts/PPEditorialNew-Ultralight.otf);
}

@font-face {
    font-family: NMB;
    src: url(fonts/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: TELEGRAF;
    src: url(fonts/pptelegraf-regular.otf);
}

* {
    text-decoration: none;
}

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--black);
    cursor: url(/img/default.png), default;
}

:root {
    --black: #0F0F0F;
    --white: #FFFFFF;
    --blue: #F0F5FA;
    --gray: #B8B8B8;
    --selection: #C4CDE6;
    --green: #86C095;
    --red: #FF5C5C;
    --mindaro: #DCFF93;
    --yellow: #FFEA00;
    --picton: #54ABED;
    --serenity: #B3CEE5;
    --fw: 100;
}

::selection {
    color: var(--black);
    background: var(--selection);
}

h1 {
    font-family: ENL;
    font-weight: var(--fw);
    font-size: 50px;
}

h2 {
    font-family: ENR;
    font-weight: var(--fw);
    font-size: 40px;
}

h3 {
    font-family: ENL;
    font-weight: var(--fw);
    font-size: 30px;
}

p {
    font-family: NMB;
    font-weight: var(--fw);
    font-size: 20px;
}

.intro {
    padding-top: 5vh;
    padding-bottom: 1.5vh;
    text-align: left;
    line-height: 1.5;
    background: var(--blue);
}

.intro-container {
    width: 60%;
    margin: 0 auto;
    color: var(--black);
}

.intro hr {
    width: 100%;
    height: 1px;
    background-color: var(--black);
    border: none;
}

.emphasize {
    font-family: ENR;
}

.deemphasize {
    font-family: ENL;
}

.social-link {
    font-family: TELEGRAF;
}

.button {
    font-family: TELEGRAF;
    font-size: 20px;
    border: 1px solid;
    border-color: var(--black);
    color: var(--black);
    border-radius: 40px;
    background-color: var(--blue);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
}

.button:hover {
    cursor: url(/img/default.png), default;
    transition: all .5s ease;
}

.gray:hover {
    background-color: var(--gray);
}

.green:hover {
    background-color: var(--green);
}

.red:hover {
    background-color: var(--red);
}

.mindaro:hover {
    background-color: var(--mindaro);
}

.picton:hover {
    background-color: var(--picton);
}

.yellow:hover {
    background-color: var(--yellow);
}

.serenity:hover {
    background-color: var(--serenity);
}

.about {
    clear: both;
    padding-top: 1vh;
    line-height: 1.5;
}

.about hr {
    width: 100%;
    height: 1px;
    background-color: var(--white);
    border: none;
}

.arches-row {
    display: flex;
    flex-wrap: wrap;
    background-position: center;
    resize: both;
    justify-content: center;
}

.about-container {
    width: 60%;
    margin: 0 auto;
    color: var(--white);
}

.contact-container {
    width: 50%;
    margin: 0 auto;
    color: var(--white);
}

.arch-left {
    width: 250px;
    height: 350px;
    background: url(/img/archleft.png) no-repeat;
    background-size: contain;
    transition: all .3s ease;
}

.arch-left:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(/img/sculpture.png);
}

.arch-left:hover {
    background: url(/img/sculpture.png) no-repeat;
    background-size: contain;
    opacity: 1;
    transition: opacity .3s;
    cursor: url(/img/default.png), default;
}

.arch-middle {
    width: 250px;
    height: 350px;
    background: url(/img/archmiddle.png) no-repeat;
    background-size: contain;
    transition: all .3s ease;
}

.arch-middle:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(/img/music.png);
}

.arch-middle:hover {
    background: url(/img/music.png) no-repeat;
    background-size: contain;
    opacity: 1;
    transition: opacity .3s;
    cursor: url(/img/default.png), default;
}

.arch-right {
    width: 250px;
    height: 350px;
    background: url(/img/archright.png) no-repeat;
    background-size: contain;
    transition: all .3s ease;
}

.arch-right:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(/img/park.png);
}

.arch-right:hover {
    background: url(/img/park.png) no-repeat;
    background-size: contain;
    opacity: 1;
    transition: opacity .3s;
    cursor: url(/img/default.png), default;
}

.contact {
    clear: both;
    padding-top: 20px;
    padding-bottom: 0px;
}

#contact-question {
    margin-top: 150px;
    line-height: 1.5;
}

#contact-answer {
    line-height: 1.5;
    margin-top: -10px;
}

.getintouch {
    padding-top: 50px;
    height: fit-content;
}

.getintouch-container {
    width: 60%;
    margin: 0 auto;
    color: var(--white);
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    animation: scroll-left 90s linear infinite;
    display: inline-block;
}
  
@keyframes scroll-left {
    0% {
      transform: translateX(15%);
    }
    100% {
      transform: translateX(-100%);
    }
}

.socials {
    display: flex;
}

.contact a,
.getintouch a {
    color: var(--gray) !important;
}

.intro a {
    color: var(--black) !important;
}

.intro a:hover,
.contact a:hover,
.getintouch a:hover{
    cursor: url(/img/pointer.png), cell;
    font-style: italic;
}

.hidden {
    opacity: 0;
    transition: all 3s;
}

.show {
    opacity: 1;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media screen and (max-width: 479px) {
    .intro-container,
    .about-container,
    .getintouch-container {
        width: 85%;
    }
    .contact-container{
        width: 75%;
    }
    .arch-left,
    .arch-left:hover,
    .arch-middle,
    .arch-middle:hover,
    .arch-right,
    .arch-right:hover {
        display: flex;
        justify-content: space-between;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .socials{
        flex-direction: column;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .intro-container,
    .about-container,
    .getintouch-container {
        width: 80%;
    }
    .contact-container{
        width: 70%;
    }
    .socials{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .arch-left,
    .arch-left:hover,
    .arch-middle,
    .arch-middle:hover,
    .arch-right,
    .arch-right:hover {
        width: 20.83vw;
        height: 31.25vw;
        display: flex;
        justify-content: space-between;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro-container,
    .about-container,
    .getintouch-container {
        width: 70%;
    }
    .contact-container{
        width: 60%;
    }
    .arch-left,
    .arch-left:hover,
    .arch-middle,
    .arch-middle:hover,
    .arch-right,
    .arch-right:hover {
        width: 19.531vw;
        height: 26.042vw;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .intro-container,
    .about-container,
    .getintouch-container {
        width: 70%;
    }
    .contact-container{
        width: 60%;
    }
    .arch-left,
    .arch-left:hover,
    .arch-middle,
    .arch-middle:hover,
    .arch-right,
    .arch-right:hover {
        width: 19.531vw;
        height: 29.297vw;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
    }
}
